.total{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 270px;
    height: 110px;
    padding: 20px;
    min-width: 300px;

    &_summary{
        font-weight: 600;
      }

      &__p{
        font-size: 20px;
        font-weight: 450;
        color: white;
      }
  }

//   @media(max-width:800px){
//     .total{
//       width: unset;
//       text-align: center;
//     }
//   }
  
//   @media(max-width:900px){
//     .total{
//       min-width: unset;
//     }
//   }