.shopping-cart {
    background-color: rgb(60, 57, 57, 0.7);
    position: relative;
    padding: 25px;
    border-radius: 100px;
    position: fixed;
    bottom: 40px;
    right: 1%;
    z-index: 1;
  }
  
  .shopping-cart:active {
    box-shadow: 0 4px 4px gray;
  }
  
  #cartIcon{
    color: white;
  }
  
  .shopping-cart > p{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #55102c;
    padding: 4px 8px;
    color: white;
    border-radius: 50px;
  }


  .dessert-details__incrDec{
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100px;
  }
  
  .dessert-details__incrDec button{
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gainsboro;
    border: none;
    border-radius: 100px;
  }
  
  .dessert-details__incrDec button:hover{
    box-shadow: 0 2px 2px rgb(177, 175, 175);
  }
  
  .dessert-details__incrDec button:active{
    box-shadow: unset;
  }
  
  .dessert-details__removeButton{
    color: #726d6f;
  }
  
  .dessert-details__removeButton:hover{
    color: #a9778a;
  }
  
  .dessert-details__removeButton:active{
    color: #b4a3a9;
  }
  
  // @media(max-width: 768px){
  
  //   .home__row > div:nth-child(3) {
  //     grid-column: 1 / span 3;
  //   }
  
  //   .home__row > div:nth-child(4) {
  //     grid-column: span 3;
  //   }
  
  //   .home__row > div:nth-child(5) {
  //     grid-column: 1 / span 3;
  //   }
  
  //   .home__row > div:nth-child(6) {
  //     grid-column: span 3;
  //   }
  
  // }
  
  // @media(max-width: 600px){
  //   .home__row{
  //     display: unset;
  //   }
  // }