.cart {
  display: flex;
  margin: 80px auto;
  height: max-content;
  padding: 20px 20px 0 20px;
  gap: 20px;
  flex: 1;

  &__left {
    padding: 20px;
    width: 100%;
    max-width: 500px;
    margin-top: 80px;
    color: white;
    background-color: #7c4158;
    opacity: 90%;
  }

  &__right {
    // position: fixed;
    // top: 17.5%;
    // left: 70%;
    padding: 20px;
    width: 100%;
    max-width: 350px;
    max-height: 350px;
    color: white;
    background-color: #7c4158;
    opacity: 90%;
    margin-top: 80px;
  }

  &__name {
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 20px;
    border-bottom: 1px solid gainsboro;
  }

  &__title {
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
  }
}

@media (max-width: 800px) {
  .cart {
    flex-direction: column-reverse;
    margin: unset;
    &__left {
        width: calc(100% - 40px);
      }
  }
}
