.dessert {
	max-width: 370px;
	background-color: var(--dessert-card-bg);
	box-shadow: var(--box-shadow);
	border-radius: 10px;
    &__img {
        border-radius: 10px;
    }
    &__title {
        padding: 15px 20px 25px;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.3;
        color: var(--dessert-card-text);
    }
    &__btn {
        display: flex;
        height: 48px;
        padding: 12px 28px;
        border-radius: 5px;
        background-color: var(--black);
        color: var(--white);
        letter-spacing: 0.15px;
        font-size: 16px;
        font-weight: 500;
        transition: opacity 0.2s ease-in;
        width: 100%;
    
    &:hover {
        opacity: 0.8;
    }
    
    &:active {
        position: relative;
        top: 1px;
    }
}
}



